.footer {
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 0.9rem;
    color: #150a03;
    font-weight: 500;
    background-color: #ffd3d965;
    backdrop-filter: blur(3px);
    padding-top: .5rem;
    padding-bottom: 1rem;
    margin-top: -4.25rem;
    height: 4.25rem;
}

.footer a {
    color: #b0365e;
    text-decoration: none;
}

.footer a:hover {
    color: #ce5e82;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer {
        font-size: 0.8rem;
    }
}